@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 80%;
}

/* typography */

h1 {
  font-family: Playfair Display SC;
  text-align: center;
  font-size: 64px;
}

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
  font-size: 20px;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.contain {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

td {
  height: 120px;
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #fff0c7;
}



/* Issues Here */

th, td {
  width: 10%;
}

th:nth-child(n+4):nth-child(-n+5),
td:nth-child(n+4):nth-child(-n+5) {
  width: 30%;
} 

